.TaskList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Task {
  padding: .667rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 2.25rem;
  font-weight: 600;
}
.Content {
  margin-right: .444rem;
}
.Task .Actions {
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-out;
}
.Task .Actions .Button {
  font-size: 1rem;
  background: transparent;
  margin: 0;
  padding: .444rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  appearance: none;
  margin: 0 .296rem;
}
.Task .Actions .Button:first-child {
  margin-left: 0;
}
.Task .Actions .Button:last-child {
  margin-right: 0;
}
.Task:hover .Actions {
  opacity: 1;
  visibility: visible;
}
.Task.Done .Content {
  opacity: .5;
  text-decoration: line-through;
}
.Empty {
  font-weight: 600;
  color: #888;
  padding: 1rem 0;
}